<div class="container">
    <div class="row">
      <div class="col">
        <div>
          <br>
          <br>
          {{indice+1}}{{empleadoDeLista.nombre}}, {{empleadoDeLista.apellido}}, {{empleadoDeLista.cargo}}, {{empleadoDeLista.salario}}
          <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion:'1'}" style="margin-left: 15px;">Actualiza</a>
          <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion:'2'}" style="margin-left: 15px;" >Elimina</a>
        </div>

        <app-caracteristicas-empleado-c (caracteristicasEmpleado)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
        <ul style="list-style: none;">
          <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>
        

      </div>
    </div>
  </div>

